html {
  scroll-behavior: smooth;
}

body {
  padding-top: 56px;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #333C64;
}

.navbar{ 
  background: white !important;
  color: #333C64 !important;
  display: flex;
  align-items: center;
  height: 56px;
  transition: all 0.4s ease-in-out;
}

.navbar-top{ 
  background: #333C64 !important;
  color: white !important;
  display: flex;
  align-items: center;
  height: 80px;
  transition: all 0.4s ease-in-out;
}

.navbar-brand, .nav-link, .dropdown-item {
  color: #333C64 !important;
}
.navbar-toggler {
  color: #333C64 !important;
}

.navbar-top .navbar-brand, .navbar-top .nav-link, .dropdown-item {
  color: white !important;
}
.navbar-top .navbar-toggler {
  color: white !important;
}

.bg-mpd {
  background: #333C64 !important;
}

.text-mpd {
  color: #333C64 !important;
}

.text-white {
  color: white !important;
}

.carousel-item {
  position: relative;
  height: calc(100vh - 56px );
  min-height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.bg-el{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: transform 2s ease-in-out;
}

.carousel-item .carousel-animated {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: all 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carousel-item .carousel-animated img {
  transform: translateY(-700px);
}

.carousel-item .carousel-animated p {
  transform: translateX(-1400px);
  opacity: 0;
  font-size: 17px;
}

@keyframes bcg {
  from { background: rgba(0, 0, 0, 0.1); }
  to { background: rgba(0, 0, 0, 0.55); }
}

.active .carousel-animated {
  transition: all 1s ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: bcg 1.5s ease-in-out 0.5s forwards;
}

@keyframes zoom {
  from { transform: scale(1); }
  to { transform: scale(1.1); }
}

.active .bg-el {
  animation: zoom 4s ease-in forwards;
}

@keyframes fromTop {
  from { transform: translateY(-700px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.active .carousel-animated img {
  animation: fromTop 3s ease-in-out 1s forwards;
}

@keyframes fromLeft {
  from { transform: translateX(-500px); opacity: 0;}
  to { transform: translateX(0); opacity: 1; }
}

.active .carousel-animated p {
  animation: fromLeft 2s ease-in-out 2s forwards;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.50);
  padding: 40px;
  display: flex;
  align-items: center;
}

.portfolio-item {
  margin-bottom: 30px;
}

.about-section {
  min-height: 600px;
  /*background-image: url('../images/about-bcg.jpg');*/
}

.about-content {
  width: 70%;
  min-width: 400px;
  text-align: justify;
  margin: 0 auto;
}

.about-section .about-header img {
  width: 100%;
}

.about-text {
  background: #323C63;
  color: white;
  font-weight: 200;
  padding: 60px 50px;

}

.section-projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  min-height: calc(100vh - 56px );
  width: 100%;
}
/* Project 1 */
.project-1 .gr-1 {
  background: #d8c8ad;
}
.project-1 .gr-2 {
  background: url('../images/s18.1.jpg')
}
.project-1 .gr-3 {
  background: url('../images/s18.3.jpg');
}
.project-1 .gr-4 {
  background: url('../images/s18.2.jpg');
}
/* Project 2 */
.project-2 .gr-1 {
  background: #D9C9AD;
}
.project-2 .gr-2 {
  background: url('../images/p85.1.jpg')
}
.project-2 .gr-3 {
  background: url('../images/p85.1.jpg');
}
.project-2 .gr-4 {
  background: url('../images/p85.2.jpg');
}
/* Project 3 */
.project-3 .gr-1 {
  background: #D9C9AD;
}
.project-3 .gr-2 {
  background: url('../images/b12.3.jpg')
}
.project-3 .gr-3 {
  background: url('../images/b12.2.jpg');
}
.project-3 .gr-4 {
  background: url('../images/b12.1.png');
}
/* Project 4 */
.project-4 .gr-1 {
  background: #D9C9AD;
}
.project-4 .gr-2 {
  background: url('../images/novi.1.jpg')
}
.project-4 .gr-3 {
  background: url('../images/novi.2.jpg');
}
.project-4 .gr-4 {
  background: url('../images/novi.3.jpg');
}
.project-2 .project-content-static {
  flex-direction: column;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
}
.project-3 .project-content-static {
  flex-direction: column;
}
.project{
  position: relative;
  transition: 0.2s ease-in-out;
  background-size: cover !important;
  background-position: center !important;
  text-align: center;
}
.project-content{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 30px;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  color: white;
  background: rgba(0, 0, 0, 0.73);
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-content p {
  opacity: 0;
}
.project-content-static {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.pdf-icon {
  transition: all 0.2s ease-in-out;
  font-size: 20px;
  font-size: 20px;
  color: #333C64; 
}
.pdf-icon i {
  font-size: 50px;
}
.pdf-icon:hover {
  color: white;
  transform: scale(1.3);
}
.project-content:hover{
  opacity: 1;
}
@keyframes txt {
  from { opacity: 0; transform: translateX(-50px); }
  to { opacity: 1; transform: translateX(0); }
}
.project-content:hover p{
  animation: txt 0.7s ease-in-out 0.3s forwards;
}
.contact{
  position: relative;
  background: url("../images/kontakt.png");
  background-size: cover;
  background-position: top;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #333C64 !important;
}
.soc-icons{
  position: absolute;
  font-size: 40px;
  bottom: 50px;
}
.soc-icons i{
  color: #333C64 !important;
  transition: all 0.2s ease-in-out;
}
.soc-icons i:hover {
  transform: scale(1.1);
  color: rgb(29, 34, 56);
  transition: all 0.2s ease-in-out;
}
